nav {
	background: #808080;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
nav a {
	text-decoration: none;
	color: rgba(255,255,255,1);
	display: block;
	float: left;
	background: #ffbf00;
	padding: 35px;
}
nav a:hover {
	background: #ee5f3c;
}
h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
.board {
	height: 50%;
	width: 50%;
}
.card {
	height: 200px;
	width: 150px;
	background-color: yellow;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,1);
	display: inline-block;
	float: left;
	margin: 8%;
}
div {
	border: 1px solid rgba(0,0,0,1);
}
.name {
	color: #ff0000;
}
footer {
	background: #808080;
	clear: both;
}
h1, h2, h3, p, footer {
	text-align: center;
}